version: "3.8"
services:
  app:
    image: "tailucas/inverter-monitor"
    build:
      context: .
      args:
        FOO: bar
    restart: unless-stopped
    logging:
      driver: syslog
    tmpfs:
    - /tmp
    hostname: __DOCKER_HOSTNAME__
    volumes:
      - ./data:/data
      - /dev/log:/dev/log
    environment:
      FLASK_ENV: development
